<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cartStyles.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Game On</title>
</head>

<body>
    <header class="barradenavegación">
        <nav class="navigation-bar">

            <div class="side-bar">
                <ion-icon name="menu" id="side-btn"></ion-icon>
            </div>

            <div class="left-nav">
                <form action="#" method="get">
                    <input type="text" name="searchBar" id="searchBar" placeholder="Search">
                    <button type="submit" name="search-button" id="search-button">
                        <ion-icon name="search"></ion-icon>
                    </button>
                </form>

                <ul>
                    <li><a href="index.html">Discover</a></li>
                    <li><a href="#">Browse</a></li>
                </ul>
            </div>

            <div class="right-nav">
                <ul>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>


        </nav>
    </header>

    <main>

        <h1>My Cart</h1>
        <section class="game-summary">
            <div class="card">

                <h2>Games & Apps Summary</h2>

                <div>
                    <label>Price</label>
                    <p>$0.00</p>
                </div>
                <div>
                    <label>Taxes</label>
                    <p>Calculated at Checkout</p>
                </div>

                <hr>

                <div>
                    <label for="">Subtotal</label>
                    <p>$0.00</p>
                </div>

                <input type="button" value="CHECK OUT">

            </div>
        </section>

        <section class="game-list">
            <a href="#">
                <div class="container"> <!--Imagen del producto-->
                    <img src="../public/images/game-sonic-superstars/sonicSuperstars_purchase_square.jpg"
                        alt="banner_Sonic_Superstars">

                    <div> <!--  Detalles del producto -->
                        <label for="">BASE GAME</label>
                        <h3>Sonic Superstars</h3>
                        <div>
                            <ion-icon name="logo-usd"></ion-icon>
                            <p>Earn 8% back in V-coins</p>
                        </div>
                        <div>
                            <button class="container-btn"> Move to Wishlist </button> |
                            <button class="container-btn"> Remove </button>
                        </div>
                    </div>
                    <div class="price">
                        <p>$0.00</p>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="container"> <!--Imagen del producto-->
                    <img src="../public/images/mortal.jpg"
                        alt="banner_Sonic_Superstars">

                    <div> <!--  Detalles del producto -->
                        <label for="">BASE GAME</label>
                        <h3>Mortal Kumbat 11</h3>
                        <div>
                            <ion-icon name="logo-usd"></ion-icon>
                            <p>Earn 8% back in V-coins</p>
                        </div>
                        <div>
                            <button class="container-btn"> Move to Wishlist </button> |
                            <button class="container-btn"> Remove </button>
                        </div>
                    </div>
                    <div class="price">
                        <p>$0.00</p>
                    </div>
                </div>
            </a>
            
            <a href="#">
                <div class="container"> <!--Imagen del producto-->
                    <img src="../public/images/gran turismo.webp"
                        alt="banner_Sonic_Superstars">

                    <div> <!--  Detalles del producto -->
                        <label for="">BASE GAME</label>
                        <h3>Gran Turismo</h3>
                        <div>
                            <ion-icon name="logo-usd"></ion-icon>
                            <p>Earn 8% back in V-coins</p>
                        </div>
                        <div>
                            <button class="container-btn"> Move to Wishlist </button> |
                            <button class="container-btn"> Remove </button>
                        </div>
                    </div>
                    <div class="price">
                        <p>$0.00</p>
                    </div>
                </div>
            </a>



        </section>

    </main>


    <script src="../public/script/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>