<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/descriptionStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Carrito de Compras</title>
</head>

<body>

    <nav class="navigation-bar">

        <div class="side-bar">
            <ion-icon name="menu" id="side-btn"></ion-icon>
        </div>

        <div class="left-nav">
            <form action="#" method="post">
                <input type="text" name="searchBar" id="searchBar" placeholder="Search">
                <button type="submit" name="search-button" id="search-button">
                    <ion-icon name="search"></ion-icon>
                </button>
            </form>

            <ul>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Browse</a></li>
            </ul>
        </div>

        <div class="right-nav">
            <ul>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </div>


    </nav>



    <section class="summary">
        <img src="../public/img/game-sonic-superstars/banner_Sonic_Superstars.jpeg" alt="Banner del Juego">

        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="svg">
            <path d="M 0 50 L 0 2000 L 2000 150  Z" fill="#121212" stroke="black" />
        </svg>

        <div class="data">
            <div class="data-img">
                <img src="../public/img/game-sonic-superstars/banner_Sonic_Superstars.jpeg"
                    alt="Banner del juego en data">
            </div>

            <div class="data-card">
                <h2>TITULO DE JUEGO</h2>
                <p>59.99$</p>

                <div class="data-btn">
                    <button type="button" id="addToWishlist-btn">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button type="button" id="addToCart-btn">

                        <ion-icon name="cart-outline"></ion-icon>
                        <p>Add to cart</p>

                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="visuals">
        <h2>Visuals</h2>

        <video class="video-trailer" controls>
            <source src="../public/vid/sonic-superstars-realise-trailer.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="images-rail">
            <img id="first-img" src="../public/img/game-sonic-superstars/sonic-superstars-pc-game-wallpaper-1.jpg"
                alt="wallpaper-sonic-superstars-1">

            <img src="../public/img/game-sonic-superstars/sonic-superstars-pc-game-wallpaper-2.jpg"
                alt="wallpaper-sonic-superstars-2">

            <img src="../public/img/game-sonic-superstars/sonic-superstars-pc-game-wallpaper-3.jpg"
                alt="wallpaper-sonic-superstars-3">

            <img src="../public/img/game-sonic-superstars/sonic-superstars-pc-game-wallpaper-4.jpg"
                alt="wallpaper-sonic-superstars-4">

            <img src="../public/img/game-sonic-superstars/sonic-superstars-pc-game-wallpaper-5.jpg"
                alt="wallpaper-sonic-superstars-5">
        </div>

    </section>

    <section class="description">
        <h2>Description</h2>
        <p>
            Adventure through the mystical Northstar Islands in this all-new take on classic 2D Sonic high-speed action
            platforming. Play as Sonic, Tails, Knuckles, and Amy and harness all-new Emerald powers to move and attack
            in dynamic new ways. Navigate gorgeous, never-before-seen environments solo or with up to 3 other players
            and stop Dr. Eggman, Fang, and a mysterious new adversary from converting the islands’ giant animals into
            Badniks before it’s too late!
        </p>
        <p>
            - A new Spin on a Classic: The 2D Sonic high-speed sidescrolling action platforming you know and love,
            reimagined with fully 3D graphics, new powers and abilities, an all-new setting, and new ways to play!
            You’ve never played classic Sonic like this before!
        </p>
        <p>
            - Play as your Favorite Characters: Choose from Sonic, Tails, Knuckles, and Amy and take advantage of their
            unique abilities to blaze a path across the Northstar Islands as they race to defeat Dr. Eggman, who has
            teamed up with an old nemesis, Fang, and a mysterious new armored adversary.
        </p>
        <p>
            - Harness the Power of the Chaos Emeralds: Multiply, swim up waterfalls, change form, and more with the
            powers of the Chaos Emeralds.
        </p>
        <p>
            - More Friends, More Fun: For the first time ever in a Sonic game, play through the entire campaign with up
            to 3 other players with drop-in and drop-out 4-Player Local Co-op.
        </p>
        <p>
            - Challenge Players From Around the World: Compete locally or online with up to 8 players in the all-new
            Battle Mode!
        </p>

    </section>

    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>