<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game on - Home</title>
  <link rel="stylesheet" href="../public/css/HomeStyles.css">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700;800&family=Protest+Strike&display=swap"
    rel="stylesheet">
</head>

<body>

  <nav class="navbar">
    <ul class="nav">
      <li class="navLink1"><a href="register.html">Registrar</a></li>
      <li class="navLink2"><a href="login.html">Iniciar sesion</a></li>
      <li class="navLink3"><a href="#">Idiomas</a></li>
    </ul>
  </nav>

  <header>
    <nav class="navigation-bar">

        <div class="side-bar">
            <ion-icon name="menu" id="side-btn"></ion-icon>
        </div>

        <div class="left-nav">
            <form action="#" method="get">
                <input type="text" name="searchBar" id="searchBar" placeholder="Search">
                <button type="submit" name="search-button" id="search-button">
                    <ion-icon name="search"></ion-icon>
                </button>
            </form>

            <ul>
                <li><a href="index.html">Discover</a></li>
                <li><a href="#">Browse</a></li>
            </ul>
        </div>

        <div class="right-nav">
            <ul>
                <li><a href="#">Wishlist</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>


    </nav>
</header>

  <!-- <header class="header">
    <div class="boxTitulo">
      <div>
        <img src="../public/images/pacman.svg" alt="pacman">
      </div>
      <h1>Game<span>on</span></h1>
    </div>

    <nav class="navbar2">
      <ul>
        <li>Pc</li>
        <li>Playstation</li>
        <li>Xbox</li>
        <li>Nintendo</li>
      </ul>

      <div class="search">
        <div></div>
        <p>Buscar</p>
      </div>
    </nav>
  </header> -->


  <main class="main">
    <section class="tendencias">
      <h2>Tendencias</h2>
      <h3><span><img src="../public/images/pacman.svg" alt="pacman"></span>Nombre del juego</h3>
      <h3><span><img src="../public/images/pacman.svg" alt="pacman"></span>Nombre del juego</h3>
      <h3><span><img src="../public/images/pacman.svg" alt="pacman"></span>Nombre del juego</h3>
      <h3><span><img src="../public/images/pacman.svg" alt="pacman"></span>Nombre del juego</h3>
      <h3><span><img src="../public/images/pacman.svg" alt="pacman"></span>Nombre del juego</h3>
      <div>
        <img src="../public/images/mortal.jpg" alt="Mortal">
      </div>
    </section>

    <section class="destacados">
      <h2>Destacados y recomendados</h2>
      <div>
        <div class="destacados-1">
          <img src="../public/images/halo5.jpg" alt="">
        </div>
        <div class="destacados-2">
          <div><a href="description.html"><img src="../public/images/game-sonic-superstars/banner_Sonic_Superstars.jpeg" alt=""></a></div>
          <div><img src="../public/images/cod.jpg" alt=""></div>
        </div>
      </div>
    </section>

    <section class="torneos">
      <h2>Torneos</h2>
      <div>
        <h3>Nombre del torneo</h3>
        <div>
          <img src="../public/images/codTorneo.png" alt="">
        </div>
      </div>
      <div>
        <h3>Nombre del torneo</h3>
        <div>
          <img src="../public/images/torneoFree.jpg" alt="">
        </div>
      </div>
    </section>


  </main>


  <aside class="ofertas">
    <h2>Ofertas especiales</h2>
    <div><img src="./../public/images/playpase.jpg" alt=""></div>
    <div><img src="./../public/images/gamepass.webp" alt=""></div>
  </aside>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>