<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="../public/css/registerStyle.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>

    <header>
        <nav class="navigation-bar">

            <div class="side-bar">
                <ion-icon name="menu" id="side-btn"></ion-icon>
            </div>

            <div class="left-nav">
                <form action="#" method="get">
                    <input type="text" name="searchBar" id="searchBar" placeholder="Search">
                    <button type="submit" name="search-button" id="search-button">
                        <ion-icon name="search"></ion-icon>
                    </button>
                </form>

                <ul>
                    <li><a href="index.html">Discover</a></li>
                    <li><a href="#">Browse</a></li>
                </ul>
            </div>

            <div class="right-nav">
                <ul>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>


        </nav>
    </header>

    <form action="" method="post" id="myForm">
        <h1>LOGO</h1> 
        <h4>Sign Up</h4>
        <input class="caja" type="text" name="ciudad" id="ciudad" placeholder="Country" >
        <div class="nombre">
            <input class="caja" type="text" name="nombre" id="nombre" placeholder="First Name" >
            <input class="caja" type="text" name="apellido" id="apellido" placeholder="Last Name" >
        </div>
        <input class="caja" type="email" name="email" id="email" placeholder="Email Address" >
        <input class="caja" type="password" name="password" id="password" placeholder="Password" >
        <div class="termino">
            <input type="checkbox" id="aceptoTerminos" >
            <label for="aceptoTerminos">I have read and agree to the <a href="#">Term of Service</a></label>
        </div>
        
        <div class="msj-alerta" id="msj-campo-vacio">
            
        </div>
        <button class="boton" type="submit" id="submit_button" >LOGIN IN NOW</button>
        <p class="termino">Already have an GameOn account? <a href="login.html">Sign In</a></p>
    </form>
    
    <!--  Scripts -->
    <script src="../public/js/register.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>