/* Tarjeta de facturacion */
main {
  margin-top: 10%;
}

h1 {
  margin: 50px;
  font-size: 4rem;
  font-weight: bold;
}

.game-summary {
  width: 20%;
  position: fixed;
  left: 75%;
  background-color: #202020;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.card h2 {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.card div {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.card div label,
.card div p,
.card hr {
  color: rgba(255, 255, 255, .5);

}

.card input {
  margin-top: 2rem;
  padding: 15px;
  background-color: #610c9f;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  transition: all 200ms;
}

.card input:hover {
  background-color: blueviolet;
  box-shadow: 0 0 25px #610c9f;
  scale: 1.05;
  cursor: pointer;
}

/* Seccion Lista de productos */
.game-list {
  width: 69%;
  margin-left: 50px;

}

.game-list a {
  text-decoration: none;
}

.container {
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: #202020;
  border-radius: 10px;
  transition: all 200ms;


}

.container:hover {
  scale: 1.01;
  box-shadow: 0 0 20px rgba(255, 255, 255, .25);
}

.container div {
  width: 100%;
  position: relative;
  right: 2%;
  margin: 10px 10px 10px 0;
  align-items: center;
}

.container div label,
.container div h3 {
  position: relative;
  right: 2%;
  margin: 10px 0;
}

.container div label {
  font-size: 12px;
  background-color: #373737;
  padding: 5px 10px;
  border-radius: 20px;

}

.container div h3 {
  font-size: 2rem;
  font-weight: bold;
  

}

.container div div {
  display: flex;
}

.container div div ion-icon,
.container div div p {
  font-size: 18px;
}

.container .price {
  /* position: relative;
  left: 35%;
  top: 25%; */
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 18%;
  font-size: 3rem;
  font-weight: bold;
}


img {
  width: 20%;
  height: 200px;
  margin: 12px;
  border-radius: 10px;
  transform: scaleX(80%);
  position: relative;
  right: 2%;
}



/* Botones de los contenedores de los juegos */
.container-btn {
  font-size: 12px;
  color: rgba(225, 225, 225, .5);
  font-family: inherit;
  font-weight: lighter;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.container-btn:focus,
.container-btn:hover {
  color: #fff;
}

.container-btn:focus:after,
.container-btn:hover:after {
  width: 100%;
  left: 0%;
}

.container-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}