 /* === Seccion === */
 .summary{
    margin-bottom: 10px;
    max-height: 350px;
 }
 /* imagen de la sección */
 .summary img{ 
    margin-bottom: 50px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.svg{   /* rectangulo/trapecio del fondo*/
    margin-top: 30%;
    z-index: 1;
    
}

/* contenedor de imagen e informacion bacica del juego */
.data{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 75px;
    background-color: #121212;
}

/* contenedor de la imagen */
.data-img{
    display: none;
    /* width: 30%;
   height: 50px; */
}

/* contenedor de informacion */
.data-card{
    width: 100%;
    margin-bottom: 20px;
    

}.data-card h2, .data-card p{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/* precio */
.data-card p {
    font-size: 2rem;
    font-weight: lighter;
}
/*Contenedor de los botones de acción  */
.data-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}
.data-btn button{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #610C9F;
    transition: all 250ms;

}.data-btn button:hover{
    background-color: #8317b6;
}
/* boton "addToWishlist" */
#addToWishlist-btn{
    width: 20%;
    font-size: 30px;

}
/* boton "addToCart" */
#addToCart-btn{
    width: 65%;
    font-size: 30px;
}
#addToCart-btn p{
    font-size: 20px;    
    margin: 0;
}

/* === Sección de Visuales === */
.visuals{
    margin-bottom: 30px;
}
.visuals h2{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 15px 10px;
    
}
.video-trailer{
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
}

.images-rail{
    width: 90%;
    display: flex;
    justify-content: baseline;
    overflow-x: auto;
    margin: auto;
   
}
.images-rail #first-img{
    margin: 0;
}
.images-rail img{
    width: 30%;
    margin-left: 15px;
    border-radius: 10px;
}

/* === Seccion de Descripcion === */
.description{
    margin-bottom: 30px;
}
.description h2{
    width: 50%;
    margin: 0 15px 10px;
    
}
.description p{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    text-align: justify;
    color: lightslategray;
}


@media(min-width:768px){

   
}

@media(min-width: 1024){

}